<h1>{{reqType}} Request Received:</h1>
<table border = 'solid'>
  <tr>
    <th>Parameter</th>
    <th>Value</th>
  </tr>
  {{#each dataList}}
    <tr>
      <td>{{this.name}} </td>
      <td>{{this.value}} </td>
    </tr>
  {{/each}}
</table>
