<head>
  <meta charset="UTF-8">
  <title>CS290 HW5 BONNERI</title>
  <link rel="stylesheet" href="style.css" type="text/css">
 </head>

<h1>You sent the following data in a GET request:</h1>
<table>
  <tr>
    <th>Parameter</th>
    <th>Value</th>
  </tr>
  {{#each dataList}}
    <tr>
      <td>{{this.name}} </td>
      <td>{{this.value}} </td>
    </tr>
  {{/each}}
</table>
