<form>
  <fieldset>
    <legend>HTTP Bin POST Request</legend>
    <span>Enter a key-value pair to return as a JSON. For fun?</span><br>    
    <span>Key: </span><input type="text" name="binKey" id="binKey">
    <span> Value: </span><input type="text" name="binValue" id="binValue"><br>
    <input type="submit" id="binSubmit">
    <span id="binOutput"></span>
  </fieldset>
</form>

<h1>You sent the following data in a POST request:</h1>
<ul>
  {{#each dataList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>

<script>
document.getElementById('binSubmit').addEventListener('click',function(event){
  var req = new XMLHttpRequest();
  var loadKey = document.getElementById('binKey').value;
  var loadValue = document.getElementById('binValue').value;
  var payload = {};
  payload[loadKey] = loadValue;
  req.open('POST', 'http://httpbin.org/post', true);
  req.setRequestHeader('Content-Type', 'application/json');
  req.addEventListener('load',function(){
    if(req.status >= 200 && req.status < 400){
      var response = JSON.parse(req.responseText);
      document.getElementById('binOutput').textContent = response.data;
    } else {
      document.getElementById('binOutput').textContent = "Error processing request: " + req.statusText;
    }
  });
  req.send(JSON.stringify(payload));
  event.preventDefault();
});
}
</script>
